html {
  margin: 0 auto
}

body {
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}


svg {
  height: 100vh;
  width: 100vw;
  cursor: pointer;
  display: block;
}

.big-circle .active {
  background-color: rgb(255, 213, 74);
}
.option {
  height: 10px;
  width: 10px;
  overflow: hidden;
}
.options {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 100px;
}